source http://www.nuget.org/api/v2/
framework: auto-detect

nuget StyleCop.Analyzers
nuget JetBrains.Annotations

group Test
  source http://nuget.org/api/v2
  nuget NUnit
  nuget TestStack.White.Uia3 prerelease
