[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# WPF0013: CLR accessor for attached property must match registered type.
dotnet_diagnostic.WPF0013.severity = warning
