type project
tags wpf xaml validation form
projectUrl https://github.com/JohanLarsson/Gu.Wpf.ValidationScope
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  FEATURE: Sign

excludedgroups
  Analyzers